swagger: '2.0'
info:
  title: Broad probabilistic graphical models translator
  contact:
    responsibleOrganization: Broad Institute - CBTS
    url: 'https://translator.ncats.io/broad-pgm-translator/'
    email: translator@broadinstitute.org
    responsibleDeveloper: Vlado Dancik and Oliver Ruebenacker
  version: 0.0.1
host: translator.ncats.io
basePath: /broad-pgm-translator
schemes:
  - https
produces:
  - application/json
paths:
  '/{modelID}/modelSignature':
    get:
      description: Get model signature
      responses:
        '200':
          schema:
            type: object
            properties:
              variableGroup:
                type: array
                items:
                  type: object
                  properties:
                    groupValue:
                      type: array
                      items:
                        type: string
                    variableGroupID:
                      type: string
                    groupType:
                      enum:
                        - Bollean
                        - Number
                        - String
                      type: string
                    asOutput:
                      type: boolean
                    asInput:
                      type: boolean
                    authorityURL:
                      type: string
              modelID:
                type: string
          description: Successful response
      parameters:
        - name: modelID
          in: path
          description: Model identifier
          required: true
          type: string
  '/{modelID}/{groupID}/groupSignature':
    get:
      description: Get model signature
      responses:
        '200':
          schema:
            type: object
            properties:
              variableGroupID:
                type: string
              modelVariable:
                type: array
                items:
                  type: object
                  properties:
                    variableID:
                      type: string
                    authorityURI:
                      type: string
                    variableType:
                      enum:
                        - Bollean
                        - Number
                        - String
                      type: string
                    variableValue:
                      type: array
                      items:
                        type: string
              modelID:
                type: string
          description: Successful response
      parameters:
        - name: modelID
          in: path
          description: Model identifier
          required: true
          type: string
        - name: groupID
          in: path
          description: Model identifier
          required: true
          type: string
  /modelList:
    get:
      responses:
        '200':
          schema:
            type: object
            properties:
              modelID:
                type: array
                items:
                  type: string
          description: Successful response
      description: List available models
  /evaluateModel:
    post:
      description: evaluate model
      responses:
        '200':
          schema:
            type: object
            properties:
              posteriorProbabilities:
                type: array
                items:
                  type: object
                  properties:
                    variableGroupID:
                      type: string
                    modelVariable:
                      type: array
                      items:
                        type: object
                        properties:
                          variableID:
                            type: string
                          posteriorDistribution:
                            type: array
                            items:
                              type: object
                              properties:
                                variableValue:
                                  type: string
                                posteriorProbability:
                                  type: number
          description: Successful response
      parameters:
        - name: model
          in: body
          required: true
          schema:
            type: object
            properties:
              modelID:
                type: string
              modelInput:
                type: array
                items:
                  type: object
                  properties:
                    variableGroupID:
                      type: string
                    modelVariable: 
                      type: array
                      items: 
                        type: object
                        properties:
                          variableID:
                            type: string
                          priorDistribution:
                            type: array
                            items:
                              type: object
                              properties:
                                variableValue:
                                  type: string
                                priorProbability:
                                  type: number
              modelOutput:
                type: array
                items:
                  type: object
                  properties:
                    variableGroupID:
                      type: string
                    variableID:
                      type: array
                      items: 
                        type: string

